# fly.toml app configuration file generated for test-sm-website on 2025-11-08T07:03:48Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'test-sm-website'
primary_region = 'fra'

[build]
dockerfile = 'Dockerfile'

[env]
PORT = '8080'
FRONT_URL = 'https://studio-matic.github.io'

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'suspend'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
