app = 'studio-matic-s4l-api'
primary_region = 'fra'

[build]
dockerfile = 'Dockerfile'

[env]
PORT = '8080'
CORS_ALLOWED_ORIGINS = 'https://test.studio-matic.org https://studio-matic.org'

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'suspend'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
